/* STILI GENERALI */

body {
    background-image: -o-linear-gradient(bottom, #ABCDEF 0%, #FFFFFF 350px);
    background-image: -moz-linear-gradient(bottom, #ABCDEF 0%, #FFFFFF 350px);
    background-image: -webkit-linear-gradient(bottom, #ABCDEF 0%, #FFFFFF 350px);
    background-image: -ms-linear-gradient(bottom, #ABCDEF 0%, #FFFFFF 350px);
    background-image: linear-gradient(to bottom, #ABCDEF 0%, #FFFFFF 350px);
    font-size: 76%;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 13px;
    color: #837669;
}

p {
    padding-left: 2px;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 13px;
    margin-top: 0;
    margin-bottom: 5.05px;
}

p.successo {
    text-align: center;
    background-color: #ADFF2F;
}

p.errore {
    text-align: center;
    background-color: #FF6347;
}

p.informazione {
    text-align: center;
    background-color: #ABCDEF;
}

a {
    color: #000000;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a img {
    border: none;
}

div#contenuto {
    width: 900px;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    text-align: center;
}

.label {
    width: 230px;
    float: left;
}

fieldset {
    border-top: 1px solid #ABCDEF;
    border-bottom: 1px solid #ABCDEF;
    border-left: 0;
    border-right:0;
    margin-right:0;
}

input.evidenzia {
    border: 1px solid red;
}

span.errore {
    margin-left: 5px;
    color: red;
}

textarea {
    resize: none;
}

.ui-datepicker {
    margin-left: 155px;
    margin-top: -26px;
}

/* STILE TESTA */

nav#menu {
    margin-top: 1px;
    margin-bottom: 1px;
    background-color: #ABCDEF;
    text-transform: uppercase;
}

nav ul ul {
    display: none;
}

nav ul li:hover {
    background-color:#FF8C00;
}

nav ul li:hover > ul {
    display: block;
}

nav ul {
    padding: 0;
    margin:0;
    border-radius: 10px;
    list-style: none;
    position: relative;
}
nav ul:after {
    content: ""; clear: both; display: block;
}

nav ul li {
    float: left;
    margin:auto;
}

nav ul li a {
    display: block;
    height:35px;
    padding-top: 15px;
    padding-left: 10px;
    padding-right: 10px;
    color: #757575;
    text-decoration: none;
}

nav ul ul {
    border-radius: 0px; padding: 0;
    position: absolute; top: 100%;
}

nav ul ul li {
    float: none;
    background-color:#ABCDEF;
    position: relative;
}


div#testa {
    height: 60px;
    position: relative;
    background-image: -o-linear-gradient(bottom, #FF8C00 17%, #FFBF00 60px);
    background-image: -moz-linear-gradient(bottom, #FF8C00 17%, #FFBF00 60px);
    background-image: -webkit-linear-gradient(bottom, #FF8C00 17%, #FFBF00 60px);
    background-image: -ms-linear-gradient(bottom, #FF8C00 17%, #FFBF00 60px);
    background-image: linear-gradient(to bottom, #FF8C00 17%, #FFBF00 60px);
    -webkit-border-top-left-radius: 20px;
    -webkit-border-top-right-radius: 20px;
    -moz-border-radius-topleft: 20px;
    -moz-border-radius-topright: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

p#titolo {
    position: absolute;
    width: 100%;
    top: 50%;
    margin-left: -50%;
    margin-top: -.5em;
    left: 50%;;
    padding-left: 54px;
    font-size: 20px;
    color: #fff;
    float: left;
}

div#logo {
    background: url(../img/style/sfondo.jpg) no-repeat left top;
    height: 230px;
}

/* STILE CORPO */

div#corpo {
    color: #006666;
    overflow: hidden;
}

/* STILE COLONNA DESTRA */

div#coldx {
    float: left;
    width: 892px;
    min-height: 210px;
    border-left:1px solid #ABCDEF;
    border-right:1px solid #ABCDEF;
    border-top:1px solid #ABCDEF;
    padding:3px;
}

div#corpoCatalogo {
    width: 893px;
    float: left;
    text-align: justify;
}

div#catcolsx {
    float: left;
    overflow: hidden;
}

div#catcoldx {
    float: left;
    word-wrap: break-word;
}

div.galleria {
    margin-left:1px;
}

div#immagineEliminazione {
    float: left;
    margin-left: 50px;
    margin-bottom: 10px;
}

div#pulsanteEliminazione {
    width: 694px;
    float: left;
    margin-left: 21px;
    padding: 0;
}

div#pulsanteEliminazione input {
    margin: 0;
}

input#pulsanteAcquisto {
    margin:0;
}

p.numeriPagine {
    text-align:center;
    font-size: 1.4em;
}

/* STILE CODA */

div#coda {
    text-align: center;
    color: #fff;
    height: 58px;
    background-image: -o-linear-gradient(bottom, #FFBF00 0%, #FF8C00 60px);
    background-image: -moz-linear-gradient(bottom, #FFBF00 0%, #FF8C00 60px);
    background-image: -webkit-linear-gradient(bottom, #FFBF00 0%, #FF8C00 60px);
    background-image: -ms-linear-gradient(bottom, #FFBF00 0%, #FF8C00 60px);
    background-image: linear-gradient(to bottom, #FFBF00 0%, #FF8C00 60px);
    margin-bottom: 1px;
    position: relative;
    -webkit-border-bottom-right-radius: 20px;
    -webkit-border-bottom-left-radius: 20px;
    -moz-border-radius-bottomright: 20px;
    -moz-border-radius-bottomleft: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}






