/* STILI GENERALI */

body {
    background: url(../img/style/base.png);
    font-size: 76%;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 13px;
    color: #837669;
}

p {
    padding-left: 2px;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 13px;
    margin-top: 0;
    margin-bottom: 5.05px;
}

p.successo {
    text-align: center;
    background-color: #ADFF2F;
}

p.errore {
    text-align: center;
    background-color: #FF6347;
}

p.informazione {
    text-align: center;
    background-color: #ABCDEF;
}

a {
    color: #000000;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a img {
    border: none;
}

div#contenuto {
    width: 900px;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    text-align: center;
}

.label {
    width: 230px;
    float: left;
}

fieldset {
    border-top: 1px solid #606060;
    border-bottom: 1px solid #606060;
    border-left: 0;
    border-right:0;
    margin-right:0;
}

input.evidenzia {
    border-color:red;
}

span.errore {
    margin-left: 5px;
    color: red;
}

textarea {
    resize: none;
}

.ui-datepicker {
    margin-left: 155px;
    margin-top: -26px;
}

/* STILE TESTA */

nav#menu {
    margin-top: 1px;
    margin-bottom: 1px;
    background-color: #606060;
    text-transform: uppercase;
}

nav ul ul {
    display: none;
}

nav ul li:hover {
    background-color:#B2B2B2;
}

nav ul li:hover > ul {
    display: block;
}

nav ul {
    padding: 0;
    margin:0;
    border-radius: 10px;
    list-style: none;
    position: relative;
}
nav ul:after {
    content: ""; clear: both; display: block;
}

nav ul li {
    float: left;
    margin:auto;
}

nav ul li a {
    display: block;
    height:35px;
    padding-top: 15px;
    padding-left: 10px;
    padding-right: 10px;
    color:#fff;
    text-decoration: none;
}

nav ul ul {
    border-radius: 0px; padding: 0;
    position: absolute; top: 100%;
}

nav ul ul li {
    float: none;
    background-color:#606060;
    position: relative;
}

div#testa {
    height: 60px;
    position: relative;
    background-color:#606060;
    -webkit-border-top-left-radius: 20px;
    -webkit-border-top-right-radius: 20px;
    -moz-border-radius-topleft: 20px;
    -moz-border-radius-topright: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

p#titolo {
    position: absolute;
    width: 100%;
    top: 50%;
    margin-left: -50%;
    margin-top: -.5em;
    left: 50%;;
    padding-left: 54px;
    font-size: 20px;
    color: #fff;
    float: left;
}

div#logo {
    margin-top: 1px;
    background: url(../img/style/testata.jpg) no-repeat left top;
    height: 293px;
}

/* STILE CORPO */

div#corpo {
    color: #404040;
    overflow: hidden;
}

/* STILE COLONNA DESTRA */

div#coldx {
    float: left;
    width: 892px;
    border: 1px solid #606060;
    padding:3px;
    min-height: 250px;
}

div#corpoCatalogo {
    width: 893px;
    margin-bottom: 5px;
    float: left;
    text-align: justify;
}

div#catcolsx {
    float: left;
    overflow: hidden;
}

div#catcoldx {
    width:690px;
    float: left;
    word-wrap: break-word;
}

div#infoProgetto {
    text-align:center;
}

div.galleria {
    margin-left:1px;
}

div#immagineEliminazione {
    float: left;
    margin-left: 50px;
    margin-bottom: 10px;
}

div#pulsanteEliminazione {
    width: 694px;
    float: left;
    margin-left: 21px;
    padding: 0;
}

div#pulsanteEliminazione input {
    margin: 0;
}

input#pulsanteAcquisto {
    margin:0;
}

p.numeriPagine {
    text-align:center;
    font-size: 1.4em;
}

p.numeriPagine a {
    color: #404040;
}

p.numeriPagine b {
    color: black;
}

div#tabella {
    text-align: center;
}

div#tabella table td {
    padding:5px;
    width:400px;
    margin-left: auto;
    margin-right: auto;
    border-right:1px solid #606060;
}

div#tabella table tr:last-child td:last-child {
    border-right:0;
    font-weight:bold;
}

div#tabella table tr:first-child {
    font-weight:bold;
}

p#carteCredito {
    float:right;
    margin-top: 10px;
}

p#carteCredito img {
    margin-left: 5px;
}

p#carteCredito span {
    position:relative;
    bottom:17.5px;
}

p#carteCredito input {
    margin:0;
    padding:0;
}

/* STILE CODA */

div#coda {
    text-align: center;
    color: #fff;
    height: 58px;
    background-color:#606060;
    margin-top: 1px;
    position: relative;
    -webkit-border-bottom-right-radius: 20px;
    -webkit-border-bottom-left-radius: 20px;
    -moz-border-radius-bottomright: 20px;
    -moz-border-radius-bottomleft: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}






